header {
  font-family: Arial, sans-serif;
  font-size: 100px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

li {
  margin-top: 10px;
}

.select {
  width: 200px;
  height: 44px;
  border-radius: 10px;
  background-color: #f4f4f4;
  padding: 10px;
  position: relative;
  margin-top: 20px;
  border: 1px solid #808080;
  margin-bottom: 30px;
}

.textBox {
  width: 50px;
  height: 0px;
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  border: 1px solid #808080;
}

.tasks {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #f4f4f4;
  cursor: pointer;
  margin: 10px auto;
  display: block;
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Result.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 50%;
}

button.reset {
  background-color: #f44336;
}

button.reserve {
  background-color: #2196f3;
}

button.come {
  background-color: #ffeb3b;
  color: black;
}

.reservation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-list li {
  list-style-type: none;
  margin-bottom: 10px;
}
.form-list span {
  display: inline-block;
  width: 100px;
}

.form-list input {
  width: 200px;
}

.spinner {
  display: none;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #4caf50;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 55%;
  left: 48%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
